body {
  font-family: 'all-round-gothic';
  background: black;
  color: white;
  display: grid;
  grid-gap: 50px;
  padding: 0 50px 50px 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto minmax(40vh, auto) 40vh auto auto auto;
  grid-template-areas: "header header"
                       "title title"
                       "app-graphic app-blurb"
                       "app-graphic app-blurb"
                       "app-detail app-detail"
                       "email-blurb email-input"
                       "email-blurb email-input";
}

input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: black;
  border: 1px solid white;
  line-height: 50px;
  padding: 5px;
}

.header {
  grid-area: header;
}

.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.title-name {
  font-weight: 700;
  font-size: 10vh;
}

.title-motto {
  font-size: 5vh;
}

.app-blurb {
  grid-area: app-blurb;
}

.app-blurb-text {
  max-width: 50vw;
  line-height: 50px;
  font-size: 16pt;
}

.app-graphic {
  grid-area: app-graphic;
  padding: 15px;
}

.app-graphic > img {
  max-height: 100%;
  max-width: 100%;
}

.app-detail {
  grid-area: app-detail;
  padding: 5px;
  flex-direction: column;
}

.app-detail-title {
  font-weight: 700;
  font-size: 5vh;
}

.email-blurb {
  grid-area: email-blurb;
  padding: 5px;
}

.email-input {
  grid-area: email-input;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  body {
    padding: 0 25px 25px 25px;
    grid-gap: 25px;
    grid-template-areas: "header header"
                         "title title"
                         "app-blurb app-blurb"
                         "app-graphic app-graphic"
                         "app-detail app-detail"
                         "email-blurb email-blurb"
                         "email-input email-input";
  }

  .title {
    margin-bottom: 0;
  }
}

/* Helpers */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

* {
  box-sizing: border-box;
}