@font-face {
  font-family: "tsu";
  src: url(./fonts/tsu-bold.otf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "tsu";
  src: url(./fonts/tsu-regular.otf) format("opentype");
  font-weight: 200;
}

body {
  font-family: 'tsu', 'all-round-gothic';
  font-size: 16pt;
  font-weight: 200;
  background: black;
  color: white;
  display: grid;
  grid-gap: 50px;
  padding: 25px 50px 50px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px auto minmax(40vh, auto) 40vh auto auto auto;
  grid-template-areas: "header header header"
                       "title title title"
                       "app-graphic app-blurb app-blurb"
                       "app-graphic app-blurb app-blurb"
                       "app-detail app-detail app-detail"
                       "email-blurb email-input email-button"
                       "email-blurb email-input email-button";
}

input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.header {
  grid-area: header;
}

.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.title-name {
  font-weight: 700;
  font-size: 10vh;
  padding-bottom: 5px;
}

.title-motto {
  font-size: 5vh;
  border-top: 0.5px solid white;
  padding-top: 5px;
}

.app-blurb {
  grid-area: app-blurb;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 150px;
}

.app-blurb-text {
  max-width: 50vw;
  line-height: 50px;
}

.app-blurb-list {
  text-align: left;
}

.app-graphic {
  grid-area: app-graphic;
  padding: 15px;
}

.app-graphic > img {
  max-height: 100%;
  max-width: 75%;
}

.app-detail {
  grid-area: app-detail;
  padding: 5px;
  flex-direction: column;
}

.app-detail-title {
  font-weight: 700;
  font-size: 5vh;
}

.email-blurb {
  grid-area: email-blurb;
  padding: 5px;
  min-width: 40vw;
}

.email-input {
  grid-area: email-input;
}

.email-input > input {
  background: black;
  line-height: 50px;
  padding: 5px 5px 5px 10px;
  width: 100%;
}

.email-button {
  grid-area: email-button;
}

.email-button-el {
  padding: 5px 10px;
  line-height: 50px;
  transition: all 0.3s ease-in;
}

.email-button-el:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.subscribed {
  color: black;
  background: white;
  border-color: black;
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  width: 100%;
  grid-column: span 3;
  padding-left: 5px;
}

.footer > img {
  max-height: 100%;
  max-width: 100%;
  filter: opacity(0.5);
}

/* Responsive */
@media only screen and (max-width: 600px) {
  body {
    padding: 10px 5px 25px 5px;
    grid-gap: 10px;
    font-size: 14pt;
    grid-template-areas: "header header header"
                         "title title title"
                         "app-blurb app-blurb app-blurb"
                         "app-graphic app-graphic app-graphic"
                         "app-detail app-detail app-detail"
                         "email-blurb email-blurb email-blurb"
                         "email-input email-input email-input"
                         "email-button email-button email-button";
  }

  .title {
    margin-bottom: 0;
  }

  .footer {
    justify-content: center;
  }

  .email-button {
    justify-content: center !important;
  }

  .app-blurb-text {
    max-width: none;
  }

  .app-blurb {
    padding-top: 15px;
  }
}

/* Helpers */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
}

.bold {
  font-weight: 700;
}

.bordered {
  border: 1px solid white;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}